<tr>
  <td><%= climb.climbed_on.to_fs(:long) %></td>
  <td><%= climb.grade.name %></td>
  <td><%= climb.discipline.name %></td>
  <td>
    <% if climb.mountain_project_route_id.present? %>
      <%= link_to climb.name, "https://www.mountainproject.com/route/#{climb.mountain_project_route_id}" %>
    <% else %>
      <%= climb.name %>
    <% end %>
  </td>
  <td><%= link_to "Edit", edit_climb_path(climb) %></td>
</tr>
