<div class="row">
  <div class="col-sm">
    <div class="card"">
      <div class="card-body">
        <h2>Change your password</h2>

        <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.password_field :password, autocomplete: "new-password", autofocus: true, label: "New password" %>
          <%= f.submit "Change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card"">
      <div class="card-body">
        <p>
          Don't have an account? <%= link_to "Sign up", new_person_registration_path %>
        </p>
        <p>Already signed-up? <%= link_to "Log in", new_person_session_path %></p>
      </div>
    </div>
  </div>
</div>
