<% if @disciplines_without_climbs.present? %>
  <div class="mb-5">
    <%= bootstrap_form_for(Climb.new) do |f| %>
      <%= f.collection_select :discipline, @disciplines_without_climbs.sort_by(&:name), "id", "name", label: "Create Pyramid", include_blank: true %>
      <%= f.submit "Create" %>
    <% end %>
  </div>
<% end %>

<% @pyramids.each do |pyramid| %>
  <h3 class="mt-3"><%= pyramid.discipline.name %></h3>

  <div class="pyramid">
    <% pyramid.pyramid_grades.each.with_index do |pyramid_grade, row_index| %>
      <div class="pyramid_grade row">
        <div class="col-12">
          <div class="btn-group" role="group" aria-label="Pyramid row">
            <% pyramid_grade.climbs.each.with_index do |climb, col_index| %>
              <% if climb.sent? %>
                <%= link_to send_path(climb.climb_id),
                      method: :delete,
                      class: "climb btn #{pyramid_climb_class(climb)}",
                      id: "climb-#{row_index}-#{col_index}" do %>
                  <%= climb.name %>
                <% end %>
              <% else %>
                <%= link_to discipline_sends_path(pyramid.discipline, {send: { decimal: climb.grade.decimal, letter: climb.grade.letter }}),
                      method: :post,
                      class: "climb btn #{pyramid_climb_class(climb)}",
                      id: "climb-#{row_index}-#{col_index}" do %>
                  <%= climb.name %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
