<div class="row">
  <div class="col-sm">
    <div class="card"">
      <div class="card-body">
        <h2>Log in</h2>

        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <%= f.check_box :remember_me %>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card"">
      <div class="card-body">
        <p>
          Don't have an account? <%= link_to "Sign up", new_person_registration_path %>
        </p>
        <p>
          Forgot your password? <%= link_to "Reset password", new_password_path(resource_name) %>
        </p>
      </div>
    </div>
  </div>
</div>
